* {
  box-sizing: border-box;
  padding: 0;
  margin: auto;
}

body {
  font-family: 'Gloria Hallelujah', cursive;

}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.title {
  font-size: 30px;
  text-align: center;
}

.paperCookies {
  width: 35%;
  border: 2px solid black;
  background-color: #fff;
  border-bottom-left-radius: 80px;
  border-top-right-radius: 80px;
  padding: 20px;
  font-size: 20px;
  box-shadow: 10px 10px 73px 0px rgba(0, 0, 0, 0.75);
  border-radius: 79% 21% 72% 28% / 20% 77% 23% 80%;
}

.btnSeeOther {
  cursor: pointer;
  width: 250px;
  height: 50px;
  border-radius: 20px;
  background-color: #73d2de;
  font-size: 20px;
  font-family: 'Gloria Hallelujah', cursive;

  transition-duration: 0.4s;
}

.btnSeeOther:hover {
  box-shadow: 5px 5px 15px 0px #111d13;
   color: #f7b801; 
}

.author {
  text-align: right;
  font-weight: bold;
}

@media (min-width: 0px) and (max-width: 768px) {
  .App {
    text-align: center;
    font-size: 14px;
    padding: 20px;
  }

  .paperCookies {
    width: 65%;
    font-size: 15px;
  }


  .title {
    font-size: 20px;
  }

  

}